<dev>
	<%= form_for @post, html: { multipart: true} do |f| %>

 <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	
  	<div><%= f.label :title %><br>
    	 <%= f.text_field :title ,:size =>"70x10",:class =>"form-control"%><br>
    	 <%= f.label :body %><br>
        <%= f.text_area :body ,:size =>"70x10",:class =>"form-control"%><br>
        <%= f.file_field :photo %>
      <div class="row">
          <div class="col-md-2 pull-right">
            <%= f.submit "Save",:class =>"form-control" %>
          </div>
          <div class="col-md-2 pull-right">
            <%= link_to "Cancel", :back  ,:class =>"form-control"%> 
          </div>
      </div>
      <br>

    </div>
	<% end %>
</dev>