<div class="row">

		<% @posts.each do |post| %>
			<div class="col-md-12 rowheight">
					<div class="col-md-2">
						<%= post.created_at.strftime('%v') %>
					</div>			
					<div class="col-md-8">
						<span class="title"><%= post.title %></span>
					</div>

					<div class="col-md-2">
						<div class="col-md-4">
							<%= link_to "", post_path(post), :class=>"fa fa-eye fa-fw"   %>
						</div>
						<div class="col-md-4">
							<%= link_to "", edit_post_path(post), :class=>"fa fa-pencil fa-fw"  %>
						</div>
						<div class="col-md-4">
							<%= link_to "", post_path(post) , :class=>"fa fa-trash-o fa-fw", 
									method: :delete,
									data:{ confirm: 'Are you sure ?' }%>
						</div>
					</div>
			<hr>
			<br/>
			</div>

		<% end %>

</div>
