<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="row mTop15">
	<div class="col-md-10 col-md-offset-1 text-right">
			<ul class="list-inline">
			<% if user_signed_in? %>
				<li>Welcome </li>	
				<li><%= current_user.email %></li>
		    	<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete  %></li>
		    <% else %>
		    	<%= render 'devise/sessions/new' %> 
		    <% end %>	
		    </ul>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-8">
			<a href="/posts/">
				<h1>MINI BLOG</h1>
				<i><h4>"Learning new stuff is easiest way to  not be bored!"</h4></i>
			</a>
		</div>
	    <div class="col-md-4 text-right mTop5">
		    <ul class="list-inline">

		    	<li><%= link_to "Home", posts_path, {:class => "menuspan"} %></li>
				<li><%= link_to "About", posts_path, {:class => "menuspan"} %></li>
				<li><%= link_to "Contact", posts_path, {:class => "menuspan"} %></li>
		    </ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
        
        <div class="col-md-9">
     		<%= yield %>
      	</div> 

       <div class="col-md-2 right_sidebar">	  
	         <div class="col-md-12 text-right">
	 			<% if user_signed_in? %>
				    <ul class="list-inline">
				    	<li><%= link_to "All Post", posts_path, {:class => "menuspan menufont"} %></li>
				    	<li><%= link_to "New Post", new_post_path, {:class => "menuspan menufont"} %></li>
				    </ul>
				    <br/>				  

			    <% end %>		    
			</div>
			<div class="row right">
				<%= render '/posts/recent' %> 
			</div>
			<div class="row right">
				<%= render '/comments/recent' %> 
			</div>
     
      	</div>        
    </div>
</div>     



	 <footer class="row">
        <div class="col-md-12">
        </div>
      </footer>
</body>
</html>
